body {
  background-image: url('image/bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Droid Arabic Naskh', 'Noto Naskh Arabic', 'Roboto', 'Noto', sans-serif;
}

.container {
  /*outline: 1px solid red;*/
  padding: 10px;
  /*margin: 10px auto;*/
  font-family: 'Droid Arabic Naskh', 'Noto Naskh Arabic', 'Roboto', 'Noto', sans-serif;
}

/*.container > * {
  outline: 1px solid blue;
}

.container > * > * {
  outline: 1px solid yellow;
}

.container > * > * > * {
  outline: 1px solid yellow;
}*/